@tailwind base;
@tailwind components;
@tailwind utilities;
.text-shadow-no1 {
    text-shadow: 1px 1px 0 rgb(74,144 , 226), -1px 1px 0 rgb(74,144 , 226), -1px -1px 0 rgb(74,144 , 226),
        1px -1px 0 rgb(74,144 , 226);
}
.text-shadow-no2 {
    text-shadow: 1px 1px 0 rgb(39, 189,156), -1px 1px 0 rgb(39, 189,156), -1px -1px 0 rgb(39, 189,156),
        1px -1px 0 rgb(39, 189,156);
}
.text-shadow-no3 {
    text-shadow: 1px 1px 0 rgb(227, 80, 80), -1px 1px 0 rgb(227, 80, 80), -1px -1px 0 rgb(227, 80, 80),
        1px -1px 0 rgb(227, 80, 80);
}
.text-shadow-rest {
    text-shadow: 1px 1px 0 rgba(0, 0, 0,0.5), -1px 1px 0 rgba(0, 0, 0,0.5), -1px -1px 0 rgba(0, 0, 0,0.5),
        1px -1px 0 rgba(0, 0, 0,0.5);
}
.slick-prev:before,.slick-next:before{
    font-size: 38px !important;
}
.slick-next{
    right: 15px !important;
}